
body{
  direction: rtl;
  margin: 0px 0px;
  padding: 0px 0px;

}


$color-one:rgb(150, 214, 214);
$color-two:rgb(161, 175, 175);
$color-three:rgb(155, 165, 165);
$color-four:rgb(7, 43, 43);
$color-five:rgb(0, 0, 0);
