/* reset، متغیرها، میکسین ها، و کلاس های کلی */

$color-one: rgb(150, 214, 214);
$color-two: rgb(161, 175, 175);
$color-three: rgb(155, 165, 165);
$color-four: rgb(78, 150, 150);
$color-five: rgb(0, 0, 0);

@mixin section-name() {
  margin: 20px auto;
  width: 100%;
  background-color: #b8aecf57;
  padding-bottom: 27px;
}
@mixin section-title() {
  width: 82%;
  text-align: center;
  border-top: 2px solid #bfbebeab;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 10px;
}
@mixin section-title-in() {
  width: 24%;
  margin: auto;
  border-radius: 4px;
  background: #e7e3ef;
  box-shadow: 20px 20px 60px #bebebecc, -20px -20px 60px #ffffff;
}
@mixin section-p() {
  display: inline-block;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 1px;
  font-weight: 700;
  margin: auto;
  padding: 7px;
  word-spacing: -5px;
  color: black;
  font-family: "Scheherazade";
}
@mixin section-img() {
  width: 63px;
  height: 62px;
  transform: rotate(44deg);
}
@mixin section-cards() {
  display: flex;
  justify-content: center;
  margin: auto auto;
  width: 95%;
}
@mixin section-card() {
  border: 2px solid #dbdbdbcf;
  margin: 10px 10px;
  border-radius: 10px;
}
@mixin section-card-header() {
  background-color: #ffffff;
  padding: 0px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px 10px 0px 0px;
}
@mixin card-img() {
  padding: 6px;
}
@mixin section-card-body($whiteSpace) {
  border-top: 1px solid rgba(239, 167, 253, 0.53);
  background-color: #ffffff;
  white-space: nowrap;
  padding: 12px 0px;
  width: 85%;
  margin: auto;
  border-radius: 0px;
}
@mixin section-h6() {
  font-size: 13px;
  font-weight: 400;
  color: #0000009e;
  margin: auto auto;
  text-align: center;
  white-space: normal;
}
@mixin section-card-footer() {
  padding: 0.75rem 1.25rem;
  margin: auto;
  white-space: nowrap;
  border-top: 1px solid rgba(239, 167, 253, 0.53);
  width: 85%;
  background-color: white !important;
}
@mixin section-h5() {
  font-size: 20px;
  font-weight: 500;
  word-spacing: 4px;
  color: #771717;
  letter-spacing: -1px;
  text-align: center;
}
@mixin card-hover() {
  box-shadow: 0px 0px 10px 3px #b8b6b68f;
  transform: scale(1.01);
}
