@import "_base";
$wrap: normal;
$nowrap: nowrap;
// start header

div.brand-header {
  width: 126px;
  margin: auto auto;

  li {
    font-size: 127px;
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: -22px auto;
    a {
      text-decoration: none;
    }
  }
  h5 {
    color: #ffffff;
    text-align: center;
    margin: 0px auto;
    display: inline-block;
    position: absolute;
    font-size: 13px;
    right: 53px;
    top: 27px;
  }
}

div.menue-header {
  width: 205px;
  margin: auto;

  .nav-item-mobile {
    border-left: 1px solid #0000001f;
    margin: 0px 0px -8px 8px;
    white-space: nowrap;
    a.dropdown-toggle {
      font-size: 22px !important;
      font-family: "Samim" !important;
      font-weight: 900 !important;
      text-decoration: none;
      color: black;
    }
    .dropdown-menu {
      top: 79%;
      left: -62px;
      min-width: 65px;
      padding: 3px;
      margin: 0px 0px 0px;
      font-size: 0rem;
      color: #212529;
      text-align: center;
      list-style: none;
      background-color: #a0c8f0a3;
      border: 1px solid #d7d7d7;
      border-radius: 0.25rem;

      a.nav-link {
        width: 62px !important;
        font-size: 14px !important;
        font-family: "Shabnam" !important;
        font-weight: 100;
        text-align: center !important;
        height: 33px !important;
        margin: auto auto !important;
        line-height: 25px;
        text-decoration: none;
      }
    }
  }

  .nav-item-janebi {
    margin: auto -6px;
    padding: 0px 0px;
    white-space: nowrap;

    a.dropdown-toggle2 {
      font-size: 22px !important;
      font-family: "Samim" !important;
      text-decoration: none;
      font-weight: 900 !important;
      color: black;
    }

    .dropdown-menu2 {
      top: 104%;
      left: -42px;
      min-width: 149px;
      padding: 3px;
      margin: 0px 0px 0px;
      color: #212529;
      text-align: center;
      list-style: none;
      background-color: #a0c8f0a3;
      border: 1px solid #d7d7d7;
      border-radius: 0.25rem;
    }
    a {
      width: 136px !important;
      font-size: 14px !important;
      font-family: "Shabnam" !important;
      font-weight: 100;
      text-align: center !important;
      height: 33px !important;
      margin: 0px auto !important;
      line-height: 25px;
      text-decoration: none;
    }
  }
}

div.social-header a {
  font-size: 12px !important;
  color: #9648dfde !important;
}
.fa-instagram:hover,
.fa-telegram:hover,
.fa-twitter:hover,
.fa-whatsapp:hover {
  color: #b23030;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
// end header

// start appBanner
div.carousel {
  margin-top: 3px;
  .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 9px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 18%;
    list-style: none;
  }
}
// end appBanner

// start AppSection1
div.boxing-section1 {
  background-color: gray;
  margin: 0px auto;
  text-align: center;
  ul {
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    li {
      width: 309px;
      height: 300px;
      border: 2px solid white;
      list-style: none;
      padding: 21px 0px;
      margin: 27px 63px;
      border-radius: 10px;
      background-color: white;
      h3 {
        font-family: Shabnam;
        font-size: 29px;
        font-weight: 900;
      }
      img {
        width: 284px;
        height: 226px;
      }
    }
  }
}
// end AppSection1

//start AppSection8
div.newest-section {
  @include section-name();
  .newest-title {
    @include section-title();
    p {
      @include section-p();
    }
    img {
      @include section-img();
    }
  }
  .newest-cards {
    @include section-cards();
    .card {
      @include section-card();

      .card-header {
        @include section-card-header();
      }
      .card-body {
        @include section-card-body($nowrap);
        h6 {
          @include section-h6();
        }
        .card-footer {
          @include section-card-footer();

          h5 {
            @include section-h5();
          }
        }
      }
    }
  }
}
.card:hover {
  @include card-hover();
}
//end AppSection8

//start AppSection2
div.bag-section {
  @include section-name();
  .bag-title {
    @include section-title();
    p {
      @include section-p();
    }
    img {
      @include section-img();
      transform: none;
    }
  }
  .bag-cards {
    @include section-cards();
    .card {
      @include section-card();
      .card-header {
        @include section-card-header();
      }
      .card-body {
        @include section-card-body($wrap);
        h6 {
          @include section-h6();
        }
      }
      .card-footer {
        @include section-card-footer();

        h5 {
          @include section-h5();
        }
      }
    }
  }
}
.card:hover {
  @include card-hover();
}

//end AppSection2

//start AppSection6
div.carousel-multi-item {
  background-color: #f6f8f8;
  width: 85%;
  margin: 20px auto;
  border-radius: 12px;
  text-align: center;
  height: 39%;
  padding: 40px 0px;
  border: 1px solid #f8f3f3;
  .controls-top {
    a.first-control {
      font-size: 35px;
      position: relative;
      top: 62px;
      right: 636px;
    }

    a.second-control {
      position: absolute;
      top: 103px;
      left: 1195px;
      font-size: 35px;
    }
  }
  .carousel-indicators {
    margin: -4px 0px;
    padding: 0px;
    li {
      background-color: #bcb2b269;
      margin: 0px 5px;
    }
  }
  .carousel-inner {
    width: 90%;
    margin: -47px auto;
    background-color: #f6f8f8;
    img {
      width: 314px;
      height: 190px;
      border-radius: 6px;
    }
  }
}

//end AppSection6

//start AppSection3

div.Bestselling-section {
  @include section-name();
  .Bestselling-title {
    @include section-title();
    p {
      @include section-p();
    }
    img {
      @include section-img();
      transform: none;
    }
  }
  .Bestselling-cards {
    @include section-cards();
    .card {
      @include section-card();
      .card-header {
        @include section-card-header();
      }
      .card-body {
        @include section-card-body($nowrap);
        h6 {
          @include section-h6();
        }
      }
      .card-footer {
        @include section-card-footer();

        h5 {
          @include section-h5();
        }
      }
    }
  }
}
.card:hover {
  @include card-hover();
}
//end AppSection3

//start AppSection4
div.H-section {
  @include section-name();
  .H-title {
    @include section-title();
    p {
      @include section-p();
    }
    img {
      @include section-img();
      transform: none;
    }
  }
  .H-cards {
    @include section-cards();
    .card {
      @include section-card();
      .card-header {
        @include section-card-header();
      }
      .card-body {
        @include section-card-body($nowrap);
        h6 {
          @include section-h6();
        }
      }
      .card-footer {
        @include section-card-footer();

        h5 {
          @include section-h5();
        }
      }
    }
  }
}
.card:hover {
  @include card-hover();
}

//end AppSection4

//start AppSection5
div.question-section {
  display: flex;
  justify-content: center;
  .question-item {
    background: #f8f8fa;
    padding: 17px 50px;
    border: 1px solid #9648dfde;
    border-radius: 9px;
    white-space: nowrap;
    margin: 26px 61px;
    .question-icon {
      font-size: 6rem;
      margin: 30px;
      transition: all 0.5s ease-in-out;
    }
    h5 {
      color: blue;
    }
  }
}
.question-icon:hover {
  transform: rotate(180deg);
}

//end AppSection5

//start AppFooter

footer {
  border: 2px solid #c592b7;
  width: 100%;
  .top-section-footer {
    display: flex;
    width: 90%;
    margin: 0px auto;
    padding: 0px 0px;
    justify-content: space-around;
    .footer-item-1 {
      margin: auto auto;
    }
    .footer-item-2 {
      margin: 15px auto;
      ul {
        list-style: none;
        text-align: right;
        line-height: 25px;
        padding: 17px 0px;
        h4 {
          font-size: 21px;
        }
        li {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .footer-item-3 {
      margin: auto auto;
      ul {
        list-style: none;
        text-align: right;
        line-height: 25px;
        h4 {
          font-size: 21px;
        }
        li {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
  .button-section-footer {
    display: flex;
    display: flex;
    justify-content: space-between;

    .footer-item-1 {
      margin: 43px 32px 0px 0px;
      align-items: center;
      height: 80px;
      p {
        text-align: center;
        color: #27c7be;
        font-size: 16px;
      }
      h5 {
        text-align: center;
        color: #000303;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .footer-item-2 {
      margin: 14px 32px 0px 2px;
      align-items: center;
      height: 80px;
      img {
        width: 22%;
      }
    }
  }
}

//end AppFooter

//start AppMobile

$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

div.AppJanebi {
  .product {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: 39px auto -20px auto;
    padding: 4.5em 0;
    min-width: 600px;
    background-color: white;
    border-radius: 5px;
    .product__photo {
      position: relative;
      width: 79%;
      margin: 0px 83px;
      height: 507px;
      .photo-container {
        position: absolute;
        left: -2.5em;
        display: grid;
        grid-template-rows: 1fr;
        width: 84%;
        height: 101%;
        border-radius: 6px;
        box-shadow: 0px 0px 22px 6px #80808066;
        .photo-main {
          border-radius: 6px 6px 0 0;
          background-color: #f5f5f5bb;

          img {
            position: absolute;
            left: 0px;
            top: 1px;
            border-radius: 3px;
            width: 423px;
            height: 81%;
          }
        }

        .photo-album {
          padding: 11px 0px;
          border-radius: 0 0 6px 6px;
          width: 100%;
          background-color: #efefef;

          ul {
            display: flex;
            list-style: none;
            text-align: center;
            padding: 0px;
            justify-content: center;
          }

          li {
            padding: 0px;
            border: 1px solid #a6a6a6;
            border-radius: 3px;
            text-align: center;
            margin: 0px 7px;
            img {
              vertical-align: middle;
              border-style: none;
              width: 56px;
              height: 55px;
              border-radius: 3px;
            }
          }
        }
      }
    }
    .product__info {
      padding: 0.8em 0;
      padding: 1.8em 30px;
      margin: 0px 177px;
      width: 356px;
      height: 537px;
      .title {
        h1 {
          margin-bottom: 0px;
          font-size: 1.5em;
          font-weight: 900;
        }

        span {
          font-size: 0.7em;
          color: $color-secondary;
        }
      }
      .price {
        margin: 0px;
        color: #102ad2;
        font-size: 1.2em;

        span {
          padding-left: 0px;
          font-size: 2.9em;
        }
      }
      .variant {
        overflow: auto;

        h3 {
          margin-bottom: 0px;
        }

        li {
          width: 35px;
          display: inline-block;
          height: 35px;
          padding: 3px;
          border: 1px solid transparent;
          border-radius: 3px;
          cursor: pointer;
        }
      }

      li:not(:first-child) {
        margin-left: 0.1em;
      }
    }
    .description {
      clear: left;
      margin: 2em 0;

      h3 {
        margin-bottom: 0px;
      }

      ul {
        font-size: 0.8em;
        list-style: none;
        margin-left: 1em;
      }

      li {
        text-indent: -0.6em;
        margin-bottom: 0.5em;
      }
      li::before {
        content: "\2022";
        color: #102ad2;
        font-weight: 900;
        display: inline-block;
        width: 0px;
        height: 0px;
        margin-left: 0em;
      }
    }
    .buy--btn {
      padding: 1.5em 3.1em;
      border: none;
      border-radius: 7px;
      font-size: 0.8em;
      font-weight: 700;
      letter-spacing: 1.3px;
      color: #fff;
      background-color: #102ad2;
      box-shadow: 2px 2px 25px -7px #4c4c4c;
      cursor: pointer;

      &:active {
        transform: scale(0.97);
      }
    }
  }
}

//start AppMobile

//start AppMobile

div.AppMobile {
  @include section-name();
  .AppMobile-title {
    margin: 98px auto 0px auto;
    width: 61%;
    p {
      @include section-p();
    }
    img {
      @include section-img();
    }
  }
  .AppMobile-cards {
    @include section-cards();
    flex-wrap: wrap;
    .card {
      @include section-card();
      width: 16%;
      .card-header {
        @include section-card-header();
      }
      .card-body {
        @include section-card-body($wrap);
        padding: 11px;
        h6 {
          @include section-h6();
          font-size: 13px;
        }
      }
      .card-footer {
        @include section-card-footer();
        padding: 6px 0px;

        h5 {
          @include section-h5();
          font-size: 17px;
        }
      }
    }
  }
}
.card:hover {
  @include card-hover();
}

.tab-bar {
  display: flex;
  list-style-type: none;
  padding: 0;
  box-shadow: 0 1px 3px gray, 0 1px 2px gray;
  li {
    height: 51px;
    text-align: center;
    .tab {
      width: 176px;
      padding: 15px 56px;
      color: #607d8b;
      text-align: center;
      cursor: pointer;
      position: relative;
      user-select: none;
      top: 12px;
    }
  }
  a:hover {
    border-bottom: 3px solid #9648dfde;
    background-color: #9648df18;
  }
}

//end AppMobile

//start Iphone12

$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

div.Iphone12 {
  .product {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: 39px auto -20px auto;
    padding: 4.5em 0;
    min-width: 600px;
    background-color: white;
    border-radius: 5px;
    .product__photo {
      position: relative;
      width: 79%;
      margin: 0px 83px;
      height: 507px;
      .photo-container {
        position: absolute;
        left: -2.5em;
        display: grid;
        grid-template-rows: 1fr;
        width: 84%;
        height: 101%;
        border-radius: 6px;
        box-shadow: 0px 0px 22px 6px #80808066;
        .photo-main {
          border-radius: 6px 6px 0 0;
          background-color: #f5f5f5bb;

          img {
            position: absolute;
            left: 0px;
            top: 1px;
            border-radius: 3px;
            width: 423px;
            height: 81%;
          }
        }

        .photo-album {
          padding: 11px 0px;
          border-radius: 0 0 6px 6px;
          width: 100%;
          background-color: #efefef;

          ul {
            display: flex;
            list-style: none;
            text-align: center;
            padding: 0px;
            justify-content: center;
          }

          li {
            padding: 0px;
            border: 1px solid #a6a6a6;
            border-radius: 3px;
            text-align: center;
            margin: 0px 7px;
            img {
              vertical-align: middle;
              border-style: none;
              width: 56px;
              height: 55px;
              border-radius: 3px;
            }
          }
        }
      }
    }
    .product__info {
      padding: 0.8em 0;
      padding: 1.8em 30px;
      margin: 0px 177px;
      width: 356px;
      height: 537px;
      .title {
        h1 {
          font-weight: 600;
          white-space: nowrap;
        }

        span {
          font-size: 0.7em;
          color: $color-secondary;
        }
      }
      .price {
        margin: 0px;
        color: #102ad2;
        font-size: 1.2em;

        span {
          padding-left: 0px;
          font-size: 2.9em;
        }
      }
      .variant {
        margin-top: 14px;

        .btn-group {
          margin: 0px auto;
          label {
            width: 27px;
            height: 26px;
            border-radius: 50%;
            margin: auto 10px;
            input {
              width: 0px;
            }
          }
        }

        h3 {
          margin-bottom: 0px;
          font-size: 26px;
          font-weight: 900;
        }
      }

      li:not(:first-child) {
        margin-left: 0.1em;
      }
    }
    .description {
      margin: 2em 0;

      h3 {
        margin-bottom: 4px;
        font-size: 26px;
        font-weight: 900;
      }

      ul {
        font-size: 0.8em;
        list-style: none;
        margin-left: 1em;
      }

      li {
        text-indent: -0.6em;
        margin-bottom: 0.5em;
      }
      li::before {
        content: "\2022";
        color: #102ad2;
        font-weight: 900;
        display: inline-block;
        width: 0px;
        height: 0px;
        margin-left: 0em;
      }
    }
    .buy--btn {
      padding: 1.5em 3.1em;
      border: none;
      border-radius: 7px;
      font-size: 0.8em;
      font-weight: 700;
      letter-spacing: 1.3px;
      color: #fff;
      background-color: #102ad2;
      box-shadow: 2px 2px 25px -7px #4c4c4c;
      cursor: pointer;

      &:active {
        transform: scale(0.97);
      }
    }
  }
}

//end Iphone12

.btn span.glyphicon {
  opacity: 0;
}
.btn.active span.glyphicon {
  opacity: 1;
}

//end Iphone12

//start Register
div.register {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
  .register-in {
    width: 440px;
    margin-top: 35px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);

    .register-title {
      text-align: center;
      h2 {
        font-size: 20px;
        color: #c3c3c3;
        margin: 7px auto;
      }
    }
    .form-group {
      margin-top: 53px;
      label {
        margin: 18px 20px 3px auto;
        h6 {
          font-size: 12px;
          color: #afafafc7;
        }
      }
      input {
        display: block;
        width: 91%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        margin: -7px 20px;
        background-color: #f9f9f9;
        background-clip: padding-box;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      div {
        margin: 20px auto 0px auto;
        padding: 1px 0px;
        button {
          margin: 0px auto 0px auto;
          width: 402px;
          background-color: #e907ff;
          border: 1px solid #afaaaa;
        }
      }

      p {
        font-size: 11px;
        color: red;
        margin: 11px 21px;
      }
    }
  }

  .invalid {
    border: 1px solid red !important;
    box-shadow: 0 0 5px red !important;
    background-color: lightpink !important;
  }
}

//end Register

//start Payment
.shopping-cart {
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  margin-top: 97px;
  .container {
    background-color: #f6f6f6;

    .block-heading {
      padding-top: 19px;
      margin-bottom: 42px;
      text-align: center;

      h2 {
        text-align: center;
        max-width: 420px;
        margin: auto;
        opacity: 0.7;
        opacity: 0.8;
        margin-bottom: 1.2rem;
        color: #3b99e0;
      }
    }
    .content {
      box-shadow: 0px 0px 9px 4px rgba(214, 209, 209, 60%);
      background-color: white;
      position: relative;
      top: -27px;
      height: 100%;
      border-radius: 3px;
      .items {
        margin: auto;

        .product {
          margin-bottom: -17px;
          margin-right: 39px;
          padding-top: 27px;
          border-bottom: 1px solid #c5c5c5;
          padding-bottom: 12px;
          .info {
            padding-top: 0px;
            text-align: center;
            margin-top: 15px;
            .product-name {
              font-weight: 600;
              white-space: nowrap;
              a {
                font-size: 15px;
                font-weight: 500;
              }
              div {
                font-size: 13px;
                font-weight: 100;
                opacity: 0.7;
                .value {
                  font-weight: 400;
                  font-weight: 100;
                  font-size: 12px;
                  opacity: 0.7;
                }
              }
            }
            .quantity {
              text-align: center;
              label {
                font-size: 18px;
                font-weight: 500;
              }
              .quantity-input {
                margin: auto;
                width: 55px;
              }
            }

            .price {
              margin-top: -2px;
              font-weight: 500;
              opacity: 0.8;
              font-size: 14px;
              span {
                font-size: 30px !important;
                opacity: 1 !important;
              }
            }
            .col {
              flex-basis: 0;
              margin: -93px 496px auto auto;
              flex-grow: 1;
              max-width: 100%;

              .close {
                margin-left: auto;
                font-size: 18px;
                color: #e211dc;
                padding: 2px;
                font-weight: 700;
                border-radius: 29%;
                border: 1px solid #80808052;
              }
            }
          }
        }
      }
    }

    .summary {
      border-top: 2px solid #0078ff;
      background-color: #d5eaff;
      height: 95%;
      padding: 30px;

      h3 {
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        padding-top: 13px;
        color: #8238c7;
        padding-bottom: 32px;
      }
      .summary-item:not(:last-of-type) {
        padding-bottom: 17px;
        padding-top: 17px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.075);

        .text {
          font-size: 18px;
          font-weight: 100;
          opacity: 0.9;
          white-space: nowrap;
        }

        .price {
          font-size: 20px;
          margin-right: 137px;
          font-weight: 500;
          margin-right: 134px;
          white-space: nowrap;
        }
      }
      .summary-item:last-of-type {
        padding-bottom: 4px;
        margin-top: 0px;
        padding-top: 2px;
        line-height: 43px;
        border: 1px solid #8080802b;
        text-align: center;
        .text {
          font-size: 24px;
          font-weight: 900;
          color: #10c0c7;
          white-space: nowrap;
        }

        .price {
          font-size: 25px;
          font-weight: 900;
          color: #10c0c7;
        }
      }
      button {
        margin-top: 27px;
      }
    }
  }
}

//end Payment

//start FinalPayment
div.container-payment {
  display: flex;
  justify-content: center;
  margin: 105px auto;
  .card {
    border: none;
    border-radius: 8px;
    box-shadow: 0px 6px 13px 0px #9c9c9c;
    .heading {
      text-align: center;
      margin: 16px auto;
      h4 {
        font-size: 23px;
        font-weight: 00;
        color: #1319ca;
      }
    }
    .pricing {
      border: 2px solid #304ffe;
      background-color: #f2f5ff;
      margin: 0px 20px;
      display: flex;
      padding: 10px 14px;
      justify-content: space-between;
      .images {
        display: flex;
        align-items: center;

        .business {
          display: flex;
          align-items: center;
          padding: 0px 12px;
          span {
            font-size: 15px;
            color: #9d00ff;
            font-weight: 500;
          }
        }
      }
      .dolla {
        padding: 23px;
        .amount {
          font-size: 40px;
          font-weight: 500;
        }
      }
    }
    .detail {
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      margin: 36px 0px;
    }
    .credit {
      display: flex;
      justify-content: space-between;
      margin: 31px 19px;
      .rounded {
        display: flex;
        align-items: center;
        img {
          width: 100px;
          height: 74px;
        }

        .business {
          display: flex;
          align-items: center;
          span.business {
            display: flex;
            align-items: center;
            margin: 0px 10px;
            font-size: 16px;
            line-height: 34px;
          }
          span.plan {
            font-size: 17px;
            font-weight: 700;
            color: #59d1d1;
          }
        }
      }
      .btn-dargah {
        width: 35%;
        margin: auto;
        height: 80%;
      }
    }
    .email {
      .email-text {
        height: 55px;
        border: 2px solid #eee;
      }
      .email-text:focus {
        box-shadow: none;
        border: 2px solid #304ffe;
      }
    }
  }
  .card:hover {
    box-shadow: 0px 6px 13px 0px #9c9c9c;
    transform: none;
  }
}
//end FinalPayment

//start 404

div.not-found {
  width: 100%;
  background-color: white;
  margin: 193px auto;
  div {
    width: 60%;
    background-color: #8080801c;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    margin: auto;
    h1 {
      text-align: center;
      font-size: 117px;
    }
    h5 {
      text-align: center;
      font-size: 80px;
    }
  }
}
//end 404

//start aboutus
.demo {
  margin: 117px auto;
  width: 100%;
  .row {
    background-color: #eaeaea87;
    border-radius: 10px;
    .about-box .pic {
      width: 22%;
      padding: 20px 0;
      margin: 33px 6% 0 2%;
      float: left;
      position: relative;
      z-index: 1;
    }
    .about-box .pic:before,
    .about-box .pic:after {
      content: "";
      width: 130px;
      height: 150px;
      background: #e1c37d;
      position: absolute;
      z-index: -1;
    }
    .about-box .pic:before {
      top: -19px;
      right: -20px;
    }
    .about-box .pic:after {
      bottom: -48px;
      left: -20px;
    }
    .about-box .pic img {
      width: 108%;
      height: 309px;
      border: 3px solid #08000826;
    }

    .about-box .title {
      display: block;
      font-size: 22px;
      font-weight: 600;
      color: #000;
      margin: 0px;
      text-transform: uppercase;
      padding-top: 47px;
      padding-left: 15px;
      padding-bottom: 19px;
    }

    .about-box .description {
      font-size: 16px;
      color: #000;
    }
    .about-box .description:before,
    .about-box .description:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 17px;
      color: #e4af34;
      position: relative;
    }
    .about-box .description:before {
      content: "\f10d";
      margin-right: 5px;
      top: 0;
      left: 0;
    }
    .about-box .description:after {
      content: "\f10e";
      margin-left: 5px;
      position: relative;
      bottom: 0;
      right: 0;
    }
  }
}

//end aboutus
//start Pagintion
.wrapper {
  height: 20vh;
  display: flex;
  justify-content: center;
  margin-bottom: -46px;
  align-items: center;
  .page-link {
    position: relative;
    display: block;
    color: #673ab7 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #673ab7 !important;
  }
  .page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #673ab7;
    border-color: #024dbc;
  }
  .page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
  }
}
//end Pagintion
