// Start Header
div.header{
  width: 100%;
  position: fixed;
  // background-color: #ffffff;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(214,105,255,1) 100%);
  z-index: 100;
  border-bottom: 2px solid #9648dfde;
  top: 0px;
  nav{
    width: 89%;
    height: 81px;
    right: 88px;
  }
}

// End Header
