@import "_base";
@import "_components";
@import "_layout";

@font-face {
  font-family: "samim","shabnam","AKavir";
  src: url("/src/assets/Fonts/samim/Samim.eot") format("eot");
  src: url("/src/assets/Fonts/samim/Samim.ttf") format("ttf");
  src: url("/src/assets/Fonts/samim/Samim.woff") format("woff");
  src: url("/src/assets/Fonts/shabnam/Shabnam.eot") format("eot");
  src: url("/src/assets/Fonts/shabnam/Shabnam.ttf") format("ttf");
  src: url("/src/assets/Fonts/shabnam/Shabnam.woff") format("woff");
  src: url("/src/assets/Fonts/AKavir.ttf") format("ttf");
}
body{
  background-color: rgb(255, 255, 255);
  direction: rtl;
  margin: 0px 0px;
  padding: 0px 0px;
  text-align:unset !important;
}

