@font-face {
  font-family: "samim";
  src: url("/src/assets/Fonts/samim/Samim.eot") format("eot");
  src: url("/src/assets/Fonts/samim/Samim.ttf") format("ttf");
  src: url("/src/assets/Fonts/samim/Samim.woff") format("woff");
}

:root {
  --Silver: #bdc3c7;
  --Pink: #f9b4ab;
  --Gray: #264e70;
  --White: white;
  --White2: #fdebd3;
  --Gray2: #679186;
  --Aqua: aqua;
  --white3: #fcfcfcf3;
}

body {
  font-family: "samim";
  color: rgb(0, 0, 0);
  background-color: #677387 !important;
  direction: rtl;
  text-decoration: none !important;
}

/* section */
h3.sec-item {
  background-color: #679186;
  border: 1px solid;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 9px;
}

/* navbar */
nav {
  background-color: var(--Gray);
}

.navbar-icon {
  font-size: 1.5rem;
  color: var(--White);
}

.navbar-toogler {
  outline-color: var(--Purple);
}

a.nav-link {
  text-decoration: none;
  color: var(--Pink)!important;
  font-size: 20px;
}



.nav-icon {
  font-size: 11px;
  color: var(--Silver);
  text-decoration: none !important;
  transition: color, 2s, linear;
  padding: 1px;
  margin: 1px;
}
.nav-icon:hover {
  color: var(--Pink);
}

.navbar-brand {
  color: var(--Aqua);
}

.navbar-brand:hover {
  color: var(--Aqua);
}

/* header */

.header {
  color: var(--White);
}

.height-max {
  min-height: calc(100vh - 131px);
  background: url("../Image/img-3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.title-heading {
  background-color: rgb(171, 194, 188, 0.2);
  border-right: 3px solid aqua;
}
.title {
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1rem;
  }
}

.title-link {
  text-decoration: none !important;
  color: var(--White);
}

/* skills */

 
 .top-card {
  text-align: center;
 
}

div.card-header {
  padding: 0px;
  margin: 16px;
}

div.card-body {
  padding: 0px;
  margin: -16px;
}
div.card-footer {
  padding: 4px;
  margin-bottom: 13px;
}

.card-img {
  width: 200px;
}
.card {
  margin: 7px;
  margin-top: 7px;
  margin-bottom: 32px;
  border: 1px solid #f9b4ab;
  height: 350px;
} 

.card:hover {
  background-color: #264e70;
  animation-name: zoom;
  animation-duration: 999999999900000s;
  animation-delay: 0s;
  box-shadow: 2px 2px 4px 3px ;
}
.card-body h6 {
  line-height: 1.9;
}

@keyframes zoom {
  0% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1.01);
  }
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 999;
}

.hidePreloader {
  display: none !important;
}

/* question section */
.item-question-section {
  background: #fcfcfcf3;
  padding: 3rem;
  border: 1px solid rebeccapurple;
  border-radius: 9px;
  margin: 30px;
}


.question-icon {
  font-size: 6rem;
  margin: 30px;
  transition: all 0.5s ease-in-out;
}

.question-icon:hover {
  transform: translateY(-15%);
}

.h5-section {
  color: blue;
}
/* end question section */

/* footer */

.footer-item {
  text-align: right;
}


.footer-item li {
  font-family: samim;
}

/* end footer */
