//start 404

div.not-found {
  width: 100%;
  background-color: white;
  margin: 193px auto;
  div {
    width: 60%;
    background-color: #8080801c;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    margin: auto;
    h1 {
      text-align: center;
      font-size: 117px;
    }
    h5 {
      text-align: center;
      font-size: 80px;
    }
  }
}
//end 404
