//start AppSection2
div.bag-section {
  @include section-name();
  .bag-title {
    @include section-title();
    .section-title-in {
      @include section-title-in();
      p {
        @include section-p();
      }
      img {
        @include section-img();
        transform: none;
      }
    }
  }
  .bag-cards {
    padding: 0px 42px;
    @include section-cards();
    .card {
      @include section-card();
      .card-header {
        @include section-card-header();
      }
      .card-body {
        @include section-card-body($wrap);
        h6 {
          @include section-h6();
        }
      }
      .card-footer {
        @include section-card-footer();
        width: 100%;
        padding: 10px 0px;
        h5 {
          @include section-h5();
        }
      }
    }
  }
}
.card:hover {
  @include card-hover();
}

//end AppSection2
